body{overflow-x: hidden;}
*{margin: 0;padding: 0;box-sizing: border-box;}
.navstyle{
    width: 90%;
    margin:0 auto;
}
.logostyle{
    height: 23px;
}
.navtext{
    font-size: 13px;
    margin-top: 0.5%;
    margin-left: 20px;

}
.navtext1{
    font-size: 13px;
    margin-top: 0.5%;
    margin-left: 20px;
    text-decoration: none;
    color: black;
}
.imag1{
    height: 430px;

}
.carousel-item{
    position: relative;
    z-index: 1;
}
.carousel-caption{
    position: absolute;
    top: 20%;
    left: 0;
   
}
.main-h{
    text-align: left;
    color: black;
    font-size: 40px;
}
.main-p{
    text-align: left;
    color: black;
    font-size: 20px;
    
}
.main-but{
position: absolute;
left: 0;
font-size: 10px;
}
.shopnow{
    font-size: 10px;
}
main{
    margin: 100px 0;
}
.card{
    border: none!important;
}
.a{
    text-decoration: none;
}
.msEdgestyle{
    width: 100%;
    height: 500px;
    background-image: url("https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/gldn-MSFT-hero-Edge:VP5-1596x600");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 20px 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 60px;
}
.size{
    margin: 100px 0;
}
.footul{
    list-style: none;
    font-size: 10px;
}
footer{
    background: #f2f2f2;
    padding:40px 0;
    
}
.footera{
    text-decoration: none;
    color: #616161;
    font-size: 11px;
}
.footerh{
    color: #616161;
    margin-left: 15%;
}

.footli{
    position: relative;
    top: 10px;

}
.show{
    display:block;
}
.show1{
    display:none;
}
.show2{
    display: none;
}
.show3{
    display: none;
}
.show4{
    display: none;
}
@media screen and (max-width:1300px) {
    .show{
        display:none;

    }
    .show1{
        display:block;
    }
    
}
@media screen and (max-width:1040px) {
    .show{
        display: none;
    }
    .show2{
        display: block;
    }
    .show1{
        display: none;
    }
    .main-h{
        font-size: 29px;
       }
       .main-p{
        font-size: 15px;
       }
  
}
@media screen and (max-width:750px) {
    .show{
        display: none;
    }
    .show2{
        display: none;
    }
    .show1{
        display: none;
    }
   .show3{
    display: block;
   } 
   .main-h{
    font-size: 23px;
    margin-left: -35px;
   }
   .main-p{
    font-size: 12px;
    margin-left: -35px;
   }
   .main-but{
    margin-left: -35px;
    }


}
@media screen and (max-width:450px) {
    .show{
        display: none;
    }
    .show2{
        display: none;
    }
    .show1{
        display: none;
    }
   .show3{
    display:none;
   }
   .show4{
    display: block;
   }
   .main-h{
   
    font-size: 17px;
    margin-left:-46px;
   }
   .main-p{
    font-size: 10px;
    margin-left:-46px;
   }
   .main-but{
    margin-left:-46px;
    width: 65px;
    height: 23px;
    font-size: 8px !important;
    }
    
}